<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
  </head>
  <body>
    <h2>Change Password</h2>
    {{user}}
    <br>
    {{token}}
    <br>
    {{uidb64}}
    
    
    <form method="post" action="">
      {% csrf_token %}
      <label for="Password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br /><br />
      <label for="Confirm Password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="ConfirmPassword"
        required
      />
      <br /><br />
      <input type="submit" value="Done" />
      <input type="hidden" name="uidb64" value="{{ uidb64 }}">
      <input type="hidden" name="token" value="{{ token }}">
    </form>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("form");
        form.addEventListener("submit", function (e) {
          e.preventDefault();
          if (
            document.getElementById("password").value !==
            document.getElementById("confirm_password").value
          ) {
            alert("Passwords do not match");
            return false;
          } else {
            form.submit();
          }
        });
      });
    </script>
  </body>
</html>
