{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  {% if error %}
    {{error}}
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Sign Up</h2>
        <form method="post" id="signupForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" >
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </form>
        <p class="text-center mt-2">Already have an account? <a href="#">Log in</a></p>
      </div>
    </div>
  </div>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
  console.log("linked");
  
  var passwordInput = $("#password");
  var confirmPasswordInput = $("#confirmPassword");
  var form = $("#signupForm");
  //var errorContainer = $("#errorContainer");
  //var errorMessage = $("#errorMessage");

  form.on("submit", function(event) {
    console.log(passwordInput.val());
    console.log(passwordInput.val());
    if (passwordInput.val() !== confirmPasswordInput.val()) {
      // Prevent form submission
      //errorContainer.css("display", "block");
      //errorMessage.text("Passwords do not match.");
      event.preventDefault();
    } else {
      form.submit();
    }
  });
});


  </script>
    
  </body>
</html>
