{% block content %}
<style>
  a {
    color: rgb(37, 41, 51);
 
  }
  form{
    margin-right:5rem
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="" >Register</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
   <span style="font-size:3rem">prep</span><span style="font-size:3rem;margin-right:5rem"><strong>Africa</strong></span>
  <a class="navbar-brand" href="{% url 'login' %}" style="margin-right:5rem">Subscribe</a>
  <a class="navbar-brand" href="" style="margin-right:3rem">Subjects</a>
  <a class="navbar-brand" style="margin-right:2rem" href="#">Login</a>
  <a class="navbar-brand" href="{% url 'mytest' %}">Test</a>
  
 
 
 
 
  </div>
</nav>
{% endblock%}